.fileDownloadContainer {
  color: #666;
}

.galleryBox {
  text-align: center;
}

.savedDocThumb {
  color: black;
  background-color: #ddd;
  width: 250px;
  height: 250px;
  margin: 0 .5% 1% .5%;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #aaa;
}

.savedDocThumb:hover {
  background-color: #0bc6c0; 
}

.savedDocThumb:hover > .imageLabel.top {
  background-color: #26A8A2; 
  font-weight: 900;
}

.savedDocThumb:hover > .imageLabel.bottom {
  background-color: inherit; 
  color: #fff;
}

.thumbImg {
  display: block;
  height: 65%;
  width: auto;
  margin: 0 5% 0 5%;
  border-radius: 3px;
}

.imageLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageLabel.bottom {
  margin-top: 5%;
}

.imageLabel.top {
  font-weight: bold;
  padding: 2%;
  vertical-align: center;
  margin-bottom: 5%;
  background-color: #aaa;
}

.imageTitle {
  text-transform: capitalize;
}

.segList {
  font-size: .5em;
}

.openLabel {
  color: black;
  cursor: pointer;
  display: inline-block;
}

.closeLabel {
  cursor: pointer;
  display: inline-block;
}

.deleteBox {
  color: black;
  font-size: .9em;
  border-radius: 4px;
  margin: 2% auto 5% auto;
  max-width: 50%;
}

.deleteBtn {
  margin: 2%;
}

.imageGallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto -1% auto;
  max-width: 70%;
}