.fileDownloadContainer {
  color: lightslategray;
}

.savedDocLabel {
  color: black;
  border: 1px solid black;
  margin: 0 auto 0 auto;
  background-color: slategray;
  display: inline-block;
  min-width: 150px;
  min-height: 100px;
  width: 198px;
  height: 148px;
  vertical-align: bottom;
  cursor: pointer;
}

.savedDocLabel + .savedDocLabel {
  margin-left: 2%;
  margin-top: 1%; 
}

.savedDocLabel img {
  margin: 0;
}

.savedDocLabel p {
  margin: 1%;
}

.fileName {
  font-size: 1.1em;
  text-decoration: underline;
}

.segCount {
  font-weight: bold;
}

.segList {
  font-size: .5em;
}

.openLabel {
  color: black;
  cursor: pointer;
}

.closeLabel {
  cursor: pointer;
}

.downloadLabel {
  color: black;
}

.deleteLabel {
  color: black;
  background-color: red;
  font-size: .9em;
  padding: .25%;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

