.fileDownloadContainer {
  color: lightslategray;
}

.savedDocThumb {
  color: black;
  background-color: #0bc6c0;
  width: 198px;
  height: 168px;
  padding: .75%;
  margin: 0 auto 10px auto;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
}

.savedDocThumb > * {
  margin: 0;
}

.savedDocThumb > img {
  max-height: 85%;
  max-width: 100%;
  margin: 0 auto 0 auto;
}

.imageLabel {
  margin-top: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageTitle {
  font-weight: bolder;
  text-transform: unset;
}

.segList {
  font-size: .5em;
}

.openLabel {
  color: black;
  cursor: pointer;
}

.closeLabel {
  cursor: pointer;
}

.deleteBox {
  color: black;
  font-size: .9em;
  border-radius: 4px;
  margin: 2% auto 5% auto;
  max-width: 50%;
}

.deleteBtn {
  margin: 2%;
}

.deleteBox > div > p {
  margin: 0;
}

.imageGallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 auto -10px;
  max-width: 70%;
}