.imageStudioContainer {
  max-width: 90%;
  margin: 0 auto 0 auto;
}

.sourceImageContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
  margin: 1%;
  min-height: 600px;
}

.studioTitle {
  margin-top: 0;
}

.studioImageTitle {
  text-transform: uppercase;
  background-color: darkturquoise;
  color: white;
  margin: 0;
  padding: 2%;
}

.studioImage {
  max-width: 513px;
  height: auto;
  margin: 2% 0 1% 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  vertical-align: bottom;
}

.studioImageThumb {
  max-width: 100%;
  margin: auto 0 auto 0;
  
}

.ObjBtnContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-evenly;
  border-top: 2px solid #ddd;
  margin: 0 0 -2% 0;
  padding: 7% 2% 7% 2%;
  width: 100%;
  height: 20%;
}

.studioObjBtn {
  color: darkturquoise;
  border: 2px solid darkturquoise;
  outline-color: darkturquoise;
  margin: auto auto 2% auto;
}

.studioObjBtn:hover {
  color: darkturquoise;
  outline-color: #0aa;
  border-color: #0aa;
  background-color: white;
  margin: auto auto 2% auto;
}

.btn.btn-default.studioObjBtn:active {
  color: white;
  border-color: #0aa;
  outline-color: #0aa;
  background-color: #0aa;
  margin: auto auto 2% auto;
}

.btn.btn-default.studioObjBtn:focus {
  color: #0aa;
  outline-color: #0aa;
  border-color: #0aa;
  background-color: white;
  margin: auto auto 2% auto;
}

.studioObjBtnActive {
  color: white;
  border: 2px solid darkturquoise;
  outline-color: darkturquoise;
  background-color: darkturquoise;
  margin: auto auto 2% auto;
}

.studioObjBtnActive:focus {
  color: white;
  border: 2px solid #0aa;
  outline-color: #0aa;
  background-color: darkturquoise;
}

.studioCanvas {
  border-color: red;
  margin: 1%;
  padding: 1%;
  display: inline-block;
}