.objLabel {
  transition: transform .15s cubic-bezier(0.5, 0, 0.5, 0.2);
  transform-origin: 50% 80%;
}

.maxLabel {
  margin : 0;
  display : inline-block;
  font-size : 1.25em;
  cursor: pointer;
  text-decoration: underline;
  transition: transform .15s cubic-bezier(0.5, 0, 0.5, 0.2);
  transform-origin: 50% 80%;
}

.objLabel:hover {
  transform: scale(1.1);
}

.maxLabel:hover {
  transform: scale(1.05);
}

.textBox {
  padding: .5%;
  margin: 30px auto 20px auto;
  max-width: 80%;
}

.mainDisplay {
  margin: 1% auto 1% auto;
  padding: 1%;
  display: inline-block;
  width: 530px;
  height: 530px;
  display: flex;
  flex-flow: column;
  vertical-align: middle;
  justify-content: center;
}

.mainDisplay > * {
  margin: 0;
}