# dependencies
/actions/node_modules
/node_modules
/static

# testing
/coverage
/images

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
whisk.env
db_env
single-pod-deployment.yaml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# legacy manifest + deployment files
/actions
/kube_files