.fileGalleryContainer {
  color: #666;
}

.galleryBox {
  text-align: center;
}

.savedImageThumb {
  color: black;
  background-color: #ddd;
  width: 250px;
  height: 280px;
  margin: 0 .5% 1% .5%;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #aaa;
}

.selectedImageThumb {
  border-color: #5fbfbb;
  background-color: darkturquoise; 
  width: 250px;
  height: 280px;
  margin: 0 .5% 1% .5%;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #aaa;
  color: #fff;
}

.selectedImageThumb > .imageLabel.top {
  background-color: #0aa; 
}

.selectedImageThumb > .imageLabel.bottom {
  background-color: inherit; 
}

.savedImageThumb:hover {
  background-color: darkturquoise; 
  border-color: #5fbfbb;
  color: #fff;
}

.savedImageThumb:hover > .imageLabel.top {
  background-color: inherit; 
}

.savedImageThumb:hover > .imageLabel.bottom {
  background-color: inherit; 
}

.savedImageThumb > p {
  margin: 0;
}

.thumbImage {
  display: block;
  height: 70%;
  width: auto;
  margin: 5%;
  border-radius: 3px;
}

.imageLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.imageLabel.top {
  font-weight: bold;
  padding: 2%;
  background-color: #aaa;
}

.imageTitle {
  text-transform: capitalize;
}

.segList {
  font-size: .5em;
}

.openLabel {
  color: black;
  cursor: pointer;
  display: inline-block;
}

.closeLabel {
  color: black;
  cursor: pointer;
  display: inline-block;
}

.deleteBox {
  color: black;
  font-size: .9em;
  border-radius: 4px;
  margin: 2% auto 5% auto;
  max-width: 50%;
}

.deleteBtn {
  margin: 2%;
}

.imageGallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto -1% auto;
  max-width: 80%;
}

.controlPanel { 
  color: white;
  background-color: darkturquoise;
  padding: 3%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
} 

.controlPanel a {
  color: white;
}