html > body > #root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  font-family: IBMPlexSans;
}

.appContent {
  flex: 1 0 auto;
  width: 100%;
  height: 52vh;
}

.stickyFoot {
  flex: none;
  height: 33vh;
}

.stickyHead {
  flex: none;
  background-color: #ddd;
  padding: 1.5%;
  height: 15vh;
}

.gridLayout {
  background-color: #f5f5f5;
}

.uploadWrapper {
  margin: auto;
  text-align: center;
}

.sideCol {
  height: 100%;
  margin-top: 1%;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
}

.centerCol {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  padding: 0 !important;
}

.caroCard {
  height: 25vh;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}

.controlBarContainer {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-evenly;
  background-color: #0aa;
  max-height: 80px;
}

.loadedImageThumb {
  margin: 0 auto 4% auto;
  max-height: 22vh;
  width: auto;
}

.loadedImageLabel {
  background-color: #ddd !important;
}
h3.loadedImageLabel {
  margin: 0;
  background-color: #ddd;
}

.loadedImageWrapper {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  background-color: #eee;
}

.segmentList {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: center;
  margin: 2% auto 5% auto;
  width: 22vh;
  overflow: hidden;
  
}

.segmentListScroll {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: 2% auto 5% auto;
  width: 22vh;
  height: 28vh;
}


.segmentListScrollLong {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: 2% auto 5% auto;
  width: 22vh;
  height: 40vh;
}

.imagePanel {
  text-align: center;
  margin: auto;
  background-color: #eee;
  height: 47vh;
  width: 30vh;
  overflow: hidden;
}

.imageSelectLabel {
  margin: 0;
}

.savedImageThumb {
  color: black;
  background-color: #eee;
  width: 22vh;
  height: 22vh;
  margin: auto .5% auto .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #aaa;
}

.selectedImageThumb {
  border-color: #5fbfbb;
  background-color: darkturquoise; 
  width: 22vh;
  height: 22vh;
  margin: auto .5% auto .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #5fbfbb;
  color: #fff;
}

.selectedImageThumb > .imageLabel.top {
  background-color: #0aa; 
}

.selectedImageThumb > .thumbCircle,
.selectedImageThumb:hover > .thumbCircle {
  background-color: #0aa;
}
.selectedImageThumb > .thumbCircle > p,
.selectedImageThumb:hover > .thumbCircle > p {
  color: white;
}

.selectedImageThumb > .thumbImage {
  margin-top: 0; 
}

.savedImageThumb:hover {
  background-color: darkturquoise; 
  border-color: #5fbfbb;
  color: #fff;
}

.savedImageThumb:hover > .imageLabel.top {
  background-color: #0aa;
}

.savedImageThumb:hover > .thumbCircle {
  background-color: #0aa;
}
.savedImageThumb:hover > .thumbCircle > p {
  color: darkturquoise;
}

.savedImageThumb:hover > .thumbCircle.eraser {
  background-color: darkred;
}
.savedImageThumb:hover > .thumbCircle.eraser > p {
  color: #0aa;
}

.savedImageThumb:hover > .imageLabel.bottom {
  background-color: inherit; 
}

.thumbImage {
  display: block;
  max-height: 65%;
  width: auto;
  margin: 5%;
  border-radius: 4px;
}

.imageLabel {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.imageLabel.top {
  font-weight: bold;
  padding: 2%;
  background-color: #aaa;
  text-transform: uppercase;
}

.segList {
  font-size: .5em;
}

.controlPanel { 
  color: white;
  background-color: darkturquoise;
  padding: 3%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
} 

.controlPanel a {
  color: white;
  border-radius: 3px;
  padding: 1%;
  border: 1px solid white;
  border-radius: 6px;
}
.controlPanel a:hover {
  background-color: #0aa;
  color: white;
  border-radius: 3px;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.controlPanel a:focus {
  background-color: #0aa;
  color: #ddd;
  border-radius: 3px;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.thumbCircle {
  display: flex;
  flex-flow: column;
  align-content: baseline;
  justify-content: center;
  margin: auto;
  background-color: #777;
  border-radius: 25%;
  width: 17vh;
  height: 17vh; 
}
.thumbCircle > p {
  color: #0aa;
  margin: auto;
  font-size: 1000%;
}
.thumbCircle.eraser {
  border-radius: 50%;
  background-color: #777;
}

.thumbCircle.eraser > p {
  color: darkred;
}


.studioObjBtnActive.DLbtn {
  margin: .5% 0 0 0 !important;
  color: white;
  background-color: darkturquoise;
  border: 2px solid #0aa;
  margin: 2% 0 2% 0;
}
.studioObjBtnActive.DLbtn:hover {
  background-color: #0aa;
}

.studioSegLabel {
  text-transform: capitalize;
  background-color: white;
  color: darkturquoise;
  border: 2px solid darkturquoise; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
}
.studioSegLabel:hover {
  border: 2px solid darkcyan; 
}
.studioSegLabel + .studioSegLabel {
  margin-top: 2%;
}

.studioSegLabel.selected {
  border: 2px solid darkcyan; 
  background-color: darkturquoise;
  color: white;
}
.studioSegLabel.selected:hover {
  border: 2px solid darkturquoise; 
  color: darkcyan;
}

.downloadSegLabel {
  text-transform: capitalize;
  background-color: seagreen;
  color: #f5f5f5;
  border: 2px solid green; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
  margin-top: 3%;
}

.downloadSegLabel:hover {
  text-transform: capitalize;
  background-color: green;
  color: #f5f5f5;
  border: 2px solid green; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
  margin-top: 3%;
}

.konvaMain {
  min-width: 45vh !important;
  height: 45vh !important;
}

.konvaMain > .konvajs-content {
  width: auto !important;
  height: 100% !important;
}
.konvaMain > .konvajs-content > canvas {
  background-color: white !important;
  width: 100% !important;
  height: 100% !important;
}

.mainContent {
  height: 100%;
}