.imageLabel {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.imageLabel.top {
  min-height: 22px;
  font-weight: bold;
  background-color: #2e4057;
  text-transform: uppercase;
  color: white;
}

.thumbImage {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}

.savedImageThumb {
  background-color: #0aa;;
  width: 23vh;
  height: 90%;
  margin: 0 .5% 0 .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  overflow: hidden;
}

.selectedImageThumb {
  background-color: #0aa; 
  border: 1px solid #2e4057;
  width: 23vh;
  height: 90%;
  margin: 0 .5% 0 .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  flex-flow: column;
  color: #fff;
  overflow: hidden;
}

.selectedImageThumb > .thumbImage {
  margin-top: 25px;
}

.selectedImageThumb > .imageLabel.top {
  color: white;
  background-color: #0aa; 
  height: 26px;
}

.selectedImageThumb > .imageGlyph.add,
.selectedImageThumb:hover > .imageGlyph.add {
  color: darkturquoise;
}

.savedImageThumb:hover {
  background-color: #0aa; 
  color: #fff;
}

.savedImageThumb:hover > .imageLabel.top {
  background-color: #0aa;
  color: white;
}

.savedImageThumb:hover > .imageGlyph {
  color: #99c24d;
}

.savedImageThumb:hover > .imageGlyph.erase {
  color: darkred;
}

.savedImageThumb:hover > .imageLabel.bottom {
  background-color: inherit; 
}

.controlPanel { 
  margin: 1% 0 1% 0;
  color: white;
  padding: 1% 0 1% 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
} 

.cpbtn {
  margin: auto;
  color: white;
  border-radius: 3px;
  padding: 1% 2% 1% 2%;
  background-color: darkcyan;
  border-radius: 4px;
}
.cpbtn:hover {
  background-color: darkturquoise;
  color: white;
  text-decoration: none;
}
.cpbtn:focus {
  background-color: #0aa;
}

.imageGlyph {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  color: #2e4057;
  font-size: 1000%;
}

.cpbtn.delete {
  padding: 1% 2% 1% 2%;
}