.imageLabel {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.imageLabel.top {
  font-weight: bold;
  padding: 2%;
  background-color: #aaa;
  text-transform: uppercase;
}

.savedImageThumb {
  color: black;
  background-color: #eee;
  width: 22vh;
  height: 22vh;
  margin: auto .5% auto .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #aaa;
}

.selectedImageThumb {
  border-color: #5fbfbb;
  background-color: darkturquoise; 
  width: 22vh;
  height: 22vh;
  margin: auto .5% auto .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  border: 1px solid #5fbfbb;
  color: #fff;
}

.selectedImageThumb > .imageLabel.top {
  background-color: #0aa; 
}

.selectedImageThumb > .imageGlyph.add,
.selectedImageThumb:hover > .imageGlyph.add {
  color: cyan;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1%;
}

.savedImageThumb:hover {
  background-color: darkturquoise; 
  border-color: #5fbfbb;
  color: #fff;
}

.savedImageThumb:hover > .imageLabel.top {
  background-color: #0aa;
}

.savedImageThumb:hover > .imageGlyph {
  color: #0aa;
}

.savedImageThumb:hover > .imageGlyph.erase {
  color: darkred;
}

.savedImageThumb:hover > .imageLabel.bottom {
  background-color: inherit; 
}

.controlPanel { 
  color: white;
  background-color: darkturquoise;
  padding: 3%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
} 

.cpbtn {
  color: white;
  border-radius: 3px;
  padding: 1%;
  border: 1px solid white;
  border-radius: 6px;
}
.cpbtn:hover {
  background-color: #0aa;
  color: white;
  border-radius: 3px;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.cpbtn:focus {
  background-color: #0aa;
  color: #ddd;
  border-radius: 3px;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.imageGlyph {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  color: #aaa;
  font-size: 1000%;
}

