.imageLabel {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.imageLabel.top {
  min-height: 22px;
  font-weight: bold;
  background-color: #2e4057;
  text-transform: uppercase;
  color: #f5f5f5;
}

.thumbImage {
  display: block;
  width: 100%;
  height: 100%;
}

@-moz-document url-prefix() {
  .thumbImage {
    margin: 0 !important;
  }
}

.savedImageThumb {
  background-color: #0aa;
  width: 18vw;
  height: 18vw;
  max-height: 100%;
  margin: auto .5% auto .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  overflow: hidden;
}

.selectedImageThumb {
  background-color: #0aa; 
  width: 18vw;
  height: 18vw;
  max-height: 100%;
  margin: auto .5% auto .5%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  flex-flow: column;
  color: #f5f5f5;
  overflow: hidden;
}

.selectedImageThumb > .thumbImage {
  margin-top: 25px;
}

.selectedImageThumb > .imageLabel.top {
  color: #2e4057;
  background-color: #0aa; 
}

.selectedImageThumb > .imageGlyph.add,
.selectedImageThumb:hover > .imageGlyph.add {
  color: darkturquoise;
}

.savedImageThumb:hover {
  background-color: #0aa; 
  color: #f5f5f5;
}

.savedImageThumb:hover > .imageLabel.top {
  background-color: #0aa;
  color: #f5f5f5;
}

.savedImageThumb:hover > .imageGlyph {
  color: #99c24d;
}

.savedImageThumb:hover > .imageGlyph.erase {
  color: darkred;
}

.savedImageThumb:hover > .imageLabel.bottom {
  background-color: inherit; 
}

.controlPanel { 
  margin: 1% 0 1% 0;
  padding: 1% 0 1% 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
} 

.cpbtn {
  margin: auto;
  color: #f5f5f5;
  border-radius: 3px;
  padding: 1% 2% 1% 2%;
  background-color: darkcyan;
  border-radius: 4px;
}
.cpbtn:hover {
  background-color: darkturquoise;
  color: #2e4057;
  text-decoration: none;
}
.cpbtn:focus {
  background-color: #0aa;
}

.cpbtn.delete:hover {
  color: darkred;
}

.imageGlyph {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  color: #2e4057;
  font-size: 1000%;

}

.cpbtn.delete {
  padding: 1% 2% 1% 2%;
}