footer {
  color: white;
  background-color: #2f2d2e;
  text-align: center;
  height: 8vh;
}

.maxMsg {
  width: 100%;
  padding: .5%;
  z-index: 999 !important;
}

.footerMsgBox {
  width: 100%;
  position: absolute;
  bottom: 2.5vh;
  left: 0;
}

.footerLinks {
  margin: 0 .5% 0 .5%;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-between;
}

.maxLink.left {
  position: absolute;
  bottom: 0;
  left: 1vw;
  margin-bottom: 1.5vh;
}

.maxLink.right {
  position: absolute;
  bottom: 0;
  right: 1vw;
  margin-bottom: 1.5vh;
}

.maxMsg > a,
.maxLink > a {
  width: 100%;
  color: darkturquoise;
}

.maxMsg > a:hover,
.maxLink > a:hover {
  color: cyan;
}

footer > .particles, 
footer > .particles > canvas {
  z-index: -99 !important;
  height: 8vh !important;
  width: 100% !important;
}
