.segmentList {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: .5% 0 5% 0;
  width: 100%;
  overflow: hidden;
  min-height: 18vh;;
}

.segmentListScroll {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: .5% 0 5% 0;
  width: 100%;
  min-height: 25vh;
  max-height: 32vh;
}


.segmentListScrollLong {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: .5% 0 5% 0;
  width: 100%;
  min-height: 32vh;
  max-height: 40vh;
}

.studioSegLabel {
  width: 100%;
  margin: 0 auto 0 auto !important;
  text-transform: capitalize;
  background-color: #2e4057;
  color: white;
  padding: 1%;
  cursor: pointer;
}
.studioSegLabel:hover {
  background-color: darkturquoise;
  color: #2e4057;
}
.studioSegLabel + .studioSegLabel {
  margin-top: 2%;
}

.studioSegLabel.selected {
  background-color: #99c24d;
  color: #2e4057;
}
.studioSegLabel.selected:hover {
  background-color: #80A934;
}

.downloadSegLabel {
  width: 100%;
  margin: 0 auto 0 auto;
  text-transform: capitalize;
  background-color: #2e4057;
  color: #99c24d;
  padding: 1%;
  cursor: pointer;
}

.downloadSegLabel:hover {
  background-color: #80A934;
  color: #2e4057;
}

.dlText {
  padding-left: 2%;
}

.faded {
  color: #ddd;
}