.segmentList {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: 2% auto 5% auto;
  width: 22vh;
  overflow: hidden;
  
}

.segmentListScroll {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: 2% auto 5% auto;
  width: 22vh;
  height: 28vh;
}


.segmentListScrollLong {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: 2% auto 5% auto;
  width: 22vh;
  height: 40vh;
}

.studioSegLabel {
  width: 90%;
  margin: 0 auto 0 auto;
  text-transform: capitalize;
  background-color: white;
  color: darkturquoise;
  border: 2px solid darkturquoise; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
}
.studioSegLabel:hover {
  border: 2px solid darkcyan; 
  background-color: lightcyan;
}
.studioSegLabel + .studioSegLabel {
  margin-top: 2%;
}

.studioSegLabel.selected {
  border: 2px solid darkcyan; 
  background-color: darkturquoise;
  color: white;
}
.studioSegLabel.selected:hover {
  border: 2px solid darkturquoise; 
  color: darkcyan;
}

.downloadSegLabel {
  width: 92%;
  margin: 3% auto 0 auto;
  text-transform: capitalize;
  background-color: lightseagreen;
  color: #f5f5f5;
  border: 2px solid darkcyan; 
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
}

.downloadSegLabel:hover {
  background-color: #0aa;
  border: 2px solid green; 
  border-radius: 6px;
}

.dlText {
  padding-left: 2%;
  border-left: 1px solid darkcyan;
}

.downloadSegLabel > .glyphicon {
  margin-top: 2%;
}