.mainDisplay {
  margin: 1% auto 1% auto;
  padding: 1%;
  display: inline-block;
  max-width: 100%;
  height: 42vh;
  display: flex;
  flex-flow: column;
  vertical-align: middle;
  justify-content: center;
}