.segmentList {
  background-color: #0aa;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: 2% auto 5% auto;
  width: 22vh;
  overflow: hidden;
  
}

.segmentListScroll {
  background-color: #0aa;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: 2% auto 5% auto;
  width: 22vh;
  height: 28vh;
}


.segmentListScrollLong {
  background-color: #0aa;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  margin: 2% auto 5% auto;
  width: 22vh;
  height: 40vh;
}

.studioSegLabel {
  width: 90%;
  margin: 0 auto 0 auto;
  text-transform: capitalize;
  background-color: #2e4057;
  color: white;
  border-radius: 6px;
  border: 1px solid #0aa;
  padding: 1%;
  cursor: pointer;
}
.studioSegLabel:hover {
  background-color: darkturquoise;
}
.studioSegLabel + .studioSegLabel {
  margin-top: 2%;
}

.studioSegLabel.selected {
  background-color: #99c24d;
  color: white;
}
.studioSegLabel.selected:hover {
  color: darkcyan;
}

.downloadSegLabel {
  width: 90%;
  margin: 3% auto 0 auto;
  text-transform: capitalize;
  background-color: #2e4057;
  color: #99c24d;
  border: 1px solid lightseagreen; 
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
}

.downloadSegLabel:hover {
  color: white;
  background-color: darkturquoise;
  border-color: #2e4057;
  border-radius: 6px;
}

.dlText {
  padding-left: 2%;
  border-left: 1px solid darkcyan;
}

.downloadSegLabel > .glyphicon {
  margin-top: 2%;
}