.konvaMain {
  max-width: 50vw !important;
  max-height: 50vh !important;
  margin: auto !important;
}

.konvaMain > .konvajs-content {
  max-width: 50vw !important;
  max-height: 50vh !important;
  margin: auto !important;
}
.konvaMain > .konvajs-content > canvas {
  border-radius: 4px;
  background-color: #2f2d2e !important;
  max-width: 50vw !important;
  max-height: 50vh !important;
}

.konvaDL {
  margin-top: 2%;
  color: #2e4057;
  background-color: darkturquoise;
  border: 0 !important;
}
.konvaDL:hover {
  background-color: #80A934;
  color: #2e4057;
}