.konvaMain {
  width: 50vh !important;
  max-height: 50vh !important;
}

.konvaMain > .konvajs-content {
  width: auto !important;
  max-height: 50vh !important;
}
.konvaMain > .konvajs-content > canvas {
  margin-top: auto;
  background-color: #f5f5f5 !important;
  width: 50vh !important;
  max-height: 50vh !important;
}

.konvaDL {
  margin-top: 2%;
  color: white;
  background-color: #0aa;
  border: 2px solid darkcyan;
}
.konvaDL:hover {
  background-color: #99c24d;
  border-color: green;
  color: white;
}