

.konvaMain {
  width: 50vh !important;
  height: 50vh !important;
}

.konvaMain > .konvajs-content {
  width: auto !important;
  height: 50vh !important;
}
.konvaMain > .konvajs-content > canvas {
  background-color: white !important;
  width: 50vh !important;
  height: 50vh !important;
}

.konvaDL {
  margin: .5% 0 0 0 !important;
  color: white;
  background-color: darkturquoise;
  border: 2px solid #0aa;
}
.konvaDL:hover {
  background-color: #0aa;
}