.imagePanel {
  text-align: center;
  margin: auto;
  background-color: #eee;
  height: 50vh;
  width: 22vw;
  overflow: hidden;
}

.loadedImageLabel {
  background-color: #ddd !important;
}
h3.loadedImageLabel {
  margin: 0;
  background-color: #ddd;
}

.loadedImageWrapper {
  width: 22vw;
  height: 22vh;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  background-color: #eee;
  padding: auto;
}

.loadedImageThumb {
  margin: 0;
  max-height: auto;
  max-width: 20vw;
}