.textBox {
  background-color: #2f2d2e;
  border-color: #0aa !important;
  color: #f5f5f5;
  margin: 1% auto 1% auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  font-size: 1.25em;
  height: 42vh;
  padding: 5% 1% 1% 1%;
  width: 95%;
}

.textBox > p {
  margin: 0;
}

.outputSegText {
  padding-top: 10%;
  padding-bottom: 5%;
}

.outputStudioText {
  padding-top: 15%;
}

.outputDLButton {
  width: 50%;
  text-transform: capitalize;
  background-color: seagreen;
  color: #f5f5f5;
  border: 2px solid green; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
  margin: 2% auto 0 auto;
}

.outputDLButton:hover {
  text-transform: capitalize;
  background-color: green;
  color: #f5f5f5;
  border: 2px solid green; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
}

.arrowIcons > .glyphicon {
  color: #99c24d !important;
}

.arrowIcons {
  font-size: 350%;
  display: flex;
  flex: column;
  align-content: center;
  justify-content: space-between;
  margin: auto 0 auto 0;
  padding: 0 10% 0 10%;
}