.textBox {
  background-color: #0aa;
  border-color: #0aa !important;
  color: white;
  margin: 1% auto 1% auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  font-size: 1.25em;
  height: 42vh;
  padding: 5% 1% 1% 1%;
  width: 95%;
}
.textBox > p {
  margin: 0;
}

.objLabel {
  margin-bottom: 1%;
}

.outputSegText {
  padding-top: 10%;
  padding-bottom: 5%;
}

.outputStudioText {
  padding-top: 15%;
}

.objLabel {
  transition: transform .15s cubic-bezier(0.5, 0, 0.5, 0.2);
  transform-origin: 50% 80%;
}

.maxLabel {
  margin : 0;
  display : inline-block;
  font-size : 1.25em;
  cursor: pointer;
  text-decoration: underline;
  transition: transform .15s cubic-bezier(0.5, 0, 0.5, 0.2);
  transform-origin: 50% 80%;
}

.objLabel:hover {
  transform: scale(1.1);
}

.maxLabel:hover {
  transform: scale(1.05);
}

.outputDLButton {
  width: 50%;
  text-transform: capitalize;
  background-color: seagreen;
  color: #f5f5f5;
  border: 2px solid green; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
  margin: 2% auto 0 auto;
}

.outputDLButton:hover {
  text-transform: capitalize;
  background-color: green;
  color: #f5f5f5;
  border: 2px solid green; 
  border-radius: 6px;
  padding: 1%;
  cursor: pointer;
}

.arrowIcons > .glyphicon {
  color: #99c24d !important;
}

.arrowIcons {
  font-size: 350%;
  
  display: flex;
  flex: column;
  align-content: center;
  justify-content: space-between;
  margin: auto 0 auto 0;
  padding: 0 10% 0 10%;
}