.userInfo {
  background-color: #2e4057 !important;
  color: white !important;
  text-align: center;
  margin: 1% auto 1% auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  font-size: 1.25em;
  height: 42vh;
  padding: 1%;
  width: 95%;
  border: 0 !important;
  box-shadow: none !important;
}

.userInfo::after {
  opacity: .2;
  content: " ";
  background: url('../images/codait-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  position: absolute;
  z-index: 100;   
}

.textBox {
  background-color: #2f2d2e;
  border-color: #0aa !important;
  color: #f5f5f5;
  margin: 1% auto 1% auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  font-size: 1.25em;
  height: 42vh;
  padding: 5% 1% 1% 1%;
  width: 95%;
}

.textBox > p {
  margin: 0;
}