@font-face { 
  font-family: IBMPlexSans;
  src: url('./IBMPlex-Sans-Regular.ttf') format('ttf'),
       url('./IBMPlexSans-Regular.woff') format('woff');
}

html > body > #root > div {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: IBMPlexSans;
}