form {
  margin: 3%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
}

form > * {
  margin: 1%;
}

form > span > p {
  display: inline;
  vertical-align: middle;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formBtn {
  background-color: darkturquoise;
  cursor: pointer;
  float: left;
  border-color: #5FBFBB;
}

.formBtn:hover {
  background-color: #0aa;
  border-color: #0aa;
}

.uploadWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 2%;
  text-align: center;
}

.uploadForm {
  max-width: 450px;
}

.text {
  font-size: 1.75em;
  font-weight: bold;
  height: 75px;
  margin: auto auto 4% auto;
  vertical-align: middle;
}

#submitter {
  display: none;
}

#filePicker {
  display: none;
}