#submitter {
  display: none;
}

#filePicker {
  display: none;
}

form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

form span.formBtn {
  background-color: #0bc6c0;
  cursor: pointer;
  float: left;
  border-color: #5FBFBB;
}

form > span > p {
  vertical-align: middle;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formBtn:hover {
  background-color: #26A8A2;
  border-color: #26A8A2;
}

label.submitLabel {
  margin-right: 5%;
  margin-bottom: 2%;
}

label.pickerLabel {
  margin-left: 5%;
  margin-bottom: 2%;
}

.uploadForm {
  margin: 0 auto 0 auto;
  max-width: 450px;
}

.uploadForm h3 {
  margin: 0 0 2% 0;
}